[submodule "bitbake"]
	path = bitbake
	url = git://github.com/openembedded/bitbake
	branch = 1.44
[submodule "openembedded-core"]
	path = openembedded-core
	url = git://github.com/openembedded/openembedded-core
	branch = zeus
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://github.com/openembedded/meta-openembedded
	branch = zeus
[submodule "meta-security"]
	path = meta-security
	url = git://git.yoctoproject.org/meta-security
	branch = zeus
[submodule "meta-mender"]
	path = meta-mender
	url = git://github.com/mendersoftware/meta-mender
	branch = zeus
[submodule "meta-ettus"]
	path = meta-ettus
	url = git://github.com/EttusResearch/meta-ettus
	branch = zeus
[submodule "meta-sdr"]
	path = meta-sdr
	url = https://github.com/balister/meta-sdr.git
	branch = zeus
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = zeus
